<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <form method="post" action="/user/add">
        <textarea name="user" placeholder="enter username"></textarea>
    <input type="password" name="password">
    <textarea name="email" part="enter email"></textarea>
    <button>Add user</button>
    </form>
    
</body>
</html>