<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
   <h1>you are about to change <%=user.email%></h1>
   <form method="post" action="/user/<%=user.id%>?_method=PATCH">
    <textarea name="user"  ><%=user.user%></textarea>
   <input type="password" name="password">
   <button>submit</button>
   </form>
   
</body>
</html>